body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background: rgba(242, 242, 242, 1) 
}
main{
    padding: 20px;
    display: flex;
    gap: 20px;
}
.clr{
    padding: 10px 0;
}
 button, input::file-selector-button, .dropbtn, .canvas-download{
    color: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 6px rgba(212,93,51,.502);
    background: #d45d33;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding: 4px 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;

}
 button:hover, input::file-selector-button:hover, .dropbtn:hover, .canvas-download:hover{
    color: #d45d33;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 6px rgba(212,93,51,.502);
    background: #fff;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding: 4px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;

}
canvas{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;    border-radius: 8px;
}

.download-button{
    padding: 20px 0;
}
aside{
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
   background-color: white;
}


  .dropdown {
    position: relative;
    display: inline-block;
    padding: 10px 0;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    border-radius: 0px;
  width: 100px;
    color: #fff;
    padding: 0 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {background-color: #fff;
color: #d45d33;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  